.header {
    border-bottom: 1px solid #e0e0e0;
    background: #fff;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
    display: flex;
    align-items: center;
    position: relative;  
}

.header__logo {
    color: #8b7969;
    font-family: "Playfair Display", serif;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    margin: 0 auto;
}

.header__nav {
    position: absolute;
    right: 15px;
}

.header__button {
    padding: 6px 16px;
    font-size: 14px;
    font-family: "Playfair Display", serif;
    color: #8b7969;
    background-color: #f3f3f2;
    border: 1px solid #d6cfc7;
    cursor: pointer;
    text-decoration: none;
}

.header__button:hover {
    background-color: #f4efe9;
}

.feader__nav form {
    margin: 0;
}