.contact-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.contact-form__heading {
    margin-bottom: 40px;
    text-align: center;
    font-family: "Playfair Display", serif;
    color: #8b7969;
}

.form {
    margin: 0 auto;
    width: 70%;
}

.form__group {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.form__group-title {
    font-size: 16px;
    padding-top: 10px;
    width: 30%;
}

.form__group-content {
    width: 70%;
}

.form__label--item {
    color: #8b7969;
}

.form__label--required {
    color: #ff3878;
}

.form__group-content {
    flex: 1;
}

.form__input--text {
    display: flex;
    gap: 10px;
    align-items: center;
}

.form__input--radio {
    gap: 30px;
}

.form__input--text label {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    flex: none;
    color: #8b7969;
}

.form__input--text select {
    color: #8b7969;
}

.form__input--text input[type="radio"] {
    cursor: pointer;
    width: auto;
    height: auto;
}

.form__input--text input,
.form__input--text textarea,
.form__input--text select {
    flex: 1;
    padding: 10px;
    background-color: #f5f5f5;
    border: none;
    font-size: 14px;
}

.form__error {
    height: 20px;
    color: #ff3878;
    text-align: left;
}

.form__input--text {
    text-align: left;
}

.form__input--text input{
    height: 40px;
}

.form__input--text textarea {
    height: 180px;
}

.form__button {
    margin-top: 30px;
    text-align: center;
}

.form__button-submit {
    padding: 10px;
    width: 20%;
    height: 40px;
    border: none;
    background: #8b7969;
    color: #fff;
    cursor: pointer;
}

::placeholder {
    color: #8b7969;
}